In [81]:
import pandas as pd

In [83]:
dataset = pd.read_csv("C:/Users/sgban/Desktop/New folder/New folder/Heart.csv")

In [85]:
dataset

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [87]:
print("First Few rows of the dataset :")
print(dataset.head())

First Few rows of the dataset :
   Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0           1   63    1       typical     145   233    1        2    150
1           2   67    1  asymptomatic     160   286    0        2    108
2           3   67    1  asymptomatic     120   229    0        2    129
3           4   37    1    nonanginal     130   250    0        0    187
4           5   41    0    nontypical     130   204    0        2    172

   ExAng  Oldpeak  Slope   Ca        Thal  AHD
0      0      2.3      3  0.0       fixed   No
1      1      1.5      2  3.0      normal  Yes
2      1      2.6      2  2.0  reversable  Yes
3      0      3.5      3  0.0      normal   No
4      0      1.4      1  0.0      normal   No

In [89]:
duplicates = dataset.duplicated().sum()
print(f"Number of duplicate rows : {duplicates}")

Number of duplicate rows : 0

In [91]:
print("The duplicate rows are :")
print(dataset[dataset.duplicated()])

The duplicate rows are :
Empty DataFrame
Columns: [Unnamed: 0, Age, Sex, ChestPain, RestBP, Chol, Fbs, RestECG, MaxHR, ExAng, Oldpeak, Slope, Ca, Thal, AHD]
Index: []

In [93]:
dataset[dataset.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Age, Sex, ChestPain, RestBP, Chol, Fbs, RestECG, MaxHR, ExAng, Oldpeak, Slope, Ca, Thal, AHD]
Index: []

In [96]:
data_cleaned = dataset.drop_duplicates()
data_cleaned[data_cleaned.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Age, Sex, ChestPain, RestBP, Chol, Fbs, RestECG, MaxHR, ExAng, Oldpeak, Slope, Ca, Thal, AHD]
Index: []

In [98]:
print(f"Number of rows after removing duplicates : {data_cleaned.shape[0]}, Number of columns after removing duplicates : {data_cleaned.shape[1]} ")

Number of rows after removing duplicates : 303, Number of columns after removing duplicates : 15

In [100]:
missing_values = data_cleaned.isnull().sum()
missing_values

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [102]:
data_cleaned.to_csv('heart_cleaned.csv',index = False)

In [104]:
for column in dataset.columns:
    # Check if the column is numeric
    if pd.api.types.is_numeric_dtype(dataset[column]):
        # Fill NaN values with the median of the column
        if dataset[column].isnull().sum() > 0:
            median_value = dataset[column].median()
            dataset[column].fillna(median_value, inplace=True)
    else:
        # Handle non-numeric columns separately, if needed
        # For example, you could fill NaN values with the mode (most common value)
        if dataset[column].isnull().sum() > 0:
            mode_value = dataset[column].mode()[0]  # Take the first mode in case of multiple
            dataset[column].fillna(mode_value, inplace=True)

C:\Users\sgban\AppData\Local\Temp\ipykernel_20140\3960128050.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(median_value, inplace=True)
C:\Users\sgban\AppData\Local\Temp\ipykernel_20140\3960128050.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(mode_value, inplace=True)

In [106]:
missing_value_after = dataset.isnull().sum()
print("Missing values in each column after handling:")
print(missing_value_after)

Missing values in each column after handling:
Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
AHD           0
dtype: int64

In [108]:
numerical_features = dataset.select_dtypes(include=['int64','float64']).columns

In [110]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [112]:
dataset[numerical_features] = scaler.fit_transform(dataset[numerical_features])

In [114]:
print('Data after Scaling :')
print(dataset.head())

Data after Scaling :
   Unnamed: 0       Age       Sex     ChestPain    RestBP      Chol       Fbs  \
0   -1.726344  0.948726  0.686202       typical  0.757525 -0.264900  2.394438
1   -1.714911  1.392002  0.686202  asymptomatic  1.611220  0.760415 -0.417635
2   -1.703478  1.392002  0.686202  asymptomatic -0.665300 -0.342283 -0.417635
3   -1.692046 -1.932564  0.686202    nonanginal -0.096170  0.063974 -0.417635
4   -1.680613 -1.489288 -1.457296    nontypical -0.096170 -0.825922 -0.417635

    RestECG     MaxHR     ExAng   Oldpeak     Slope        Ca        Thal  AHD
0  1.016684  0.017197 -0.696631  1.087338  2.274579 -0.711131       fixed   No
1  1.016684 -1.821905  1.435481  0.397182  0.649113  2.504881      normal  Yes
2  1.016684 -0.902354  1.435481  1.346147  0.649113  1.432877  reversable  Yes
3 -0.996749  1.637359 -0.696631  2.122573  2.274579 -0.711131      normal   No
4  1.016684  0.980537 -0.696631  0.310912 -0.976352 -0.711131      normal   No

In [116]:
from sklearn.model_selection import train_test_split
train_data,test_data = train_test_split(dataset,test_size = 0.25 , random_state = 42)

In [118]:
print("Training data size :", train_data.shape)
print("Testing data size :",test_data.shape)

Training data size : (227, 15)
Testing data size : (76, 15)