In [5]:
import pandas as pd

In [7]:
dataset = pd.read_csv("C:/Users/hp/Desktop/ML TY _ 09/Assign 1/heart.csv")

In [9]:
dataset

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
print("First Few rows of the dataset :")
print(dataset.head())

First Few rows of the dataset :
   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2
3   56    1   1       120   236    0        1      178      0      0.8      2
4   57    0   0       120   354    0        1      163      1      0.6      2

   ca  thal  target
0   0     1       1
1   0     2       1
2   0     2       1
3   0     2       1
4   0     2       1

In [29]:
duplicates = dataset.duplicated().sum()
print(f"Number of duplicate rows : {duplicates}")

Number of duplicate rows : 1

In [41]:
print("The duplicate rows are :")
print(dataset[dataset.duplicated()])

The duplicate rows are :
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
164   38    1   2       138   175    0        1      173      0      0.0

     slope  ca  thal  target
164      2   4     2       1

In [43]:
dataset[dataset.duplicated()]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1

In [51]:
data_cleaned = dataset.drop_duplicates()
data_cleaned[data_cleaned.duplicated()]

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []

In [67]:
print(f"Number of rows after removing duplicates : {data_cleaned.shape[0]}, Number of columns after removing duplicates : {data_cleaned.shape[1]} ")

Number of rows after removing duplicates : 302, Number of columns after removing duplicates : 14

In [69]:
missing_values = data_cleaned.isnull().sum()
missing_values

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [87]:
data_cleaned.to_csv('heart_cleaned.csv',index = False)

In [89]:
for columns in dataset.columns :
    if dataset[columns].isnull().sum() > 0 :
        median_value = dataset[columns].median()
        dataset[columns].fillna(median_value,inplace = True)

:

In [91]:
missing_value_after = dataset.isnull().sum()
print("Missing values in each column after handling:")
print(missing_value_after)

Missing values in each column after handling:
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [107]:
numerical_features = dataset.select_dtypes(include=['int64','float64']).columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [115]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [117]:
dataset[numerical_features] = scaler.fit_transform(dataset[numerical_features])

In [127]:
print('Data after Scaling :')
print(dataset.head())

Data after Scaling :
        age       sex        cp  trestbps      chol       fbs   restecg  \
0  0.952197  0.681005  1.973123  0.763956 -0.256334  2.394438 -1.005832
1 -1.915313  0.681005  1.002577 -0.092738  0.072199 -0.417635  0.898962
2 -1.474158 -1.468418  0.032031 -0.092738 -0.816773 -0.417635 -1.005832
3  0.180175  0.681005  0.032031 -0.663867 -0.198357 -0.417635  0.898962
4  0.290464 -1.468418 -0.938515 -0.663867  2.082050 -0.417635  0.898962

    thalach     exang   oldpeak     slope        ca      thal    target
0  0.015443 -0.696631  1.087338 -2.274579 -0.714429 -2.148873  0.914529
1  1.633471 -0.696631  2.122573 -2.274579 -0.714429 -0.512922  0.914529
2  0.977514 -0.696631  0.310912  0.976352 -0.714429 -0.512922  0.914529
3  1.239897 -0.696631 -0.206705  0.976352 -0.714429 -0.512922  0.914529
4  0.583939  1.435481 -0.379244  0.976352 -0.714429 -0.512922  0.914529

In [131]:
from sklearn.model_selection import train_test_split
train_data,test_data = train_test_split(dataset,test_size = 0.25 , random_state = 42)

In [133]:
print("Training data size :", train_data.shape)
print("Testing data size :",test_data.shape)

Training data size : (227, 14)
Testing data size : (76, 14)